body {
  margin: 0;
  padding:0;
  background-color:#e6e8eb;
  font-family: 'Lucida Grande',Tahoma, San Francisco, Roboto, Segoe UI;
}

#barra {
  width:100%;
  height: 43px;
  background-color:#3B5998;
  position: fixed;
  top: 0; /*margen de encima*/
  left: 0; /*margen de izquierda*/
  right: 0; /*margen de derecha*/
  z-index: 10000; /*bajar capas o subir capas*/
}

#contenedor {
  width: 852px;
  background-color: #FFF;
  margin: 0 auto; /*margen automatico*/
  margin-top: 0px;
}

#portada {
  height: 300px;
  background-image: url(../img/portada.jpg);
}

#nom {
  width: 320px;
  position:relative;
  top: 256px;
  left: 200px;
  color: #FFF;
  text-shadow: 0 0 25px black; /*sombra en el texto*/
  /*cantiadad de sonre/ enfoque/ desplazamiento*/

}
#perfil {
  background-color: pink;
  border: solid 3px white;
  border-radius: 4px;
  position:relative;
  left:20px;
  top:118px;
  box-shadow: 0 0 5px #000; /*sombra en el texto*/
}

#menu {
  height:44px;
  background-color:#e6e8eb;
  padding: 0px;
  margin: 0 0 0 186px;
  width: 500px;

}

#menu li {
  float: left;
  padding:0 18px; /* 0 por encima y por debajo pero 18 por los lados*/
  display:block;
  font-weight: bold;
  color:#334f8d;
  background-color:#FFF;
  height:44px;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
}

#menu li:hover {
  color: #000;
  background-image: url(../img/select.gif);
  background-repeat: no-repeat;
  background-position: 50% 37px;
}


#contingut {
  border-top: solid 2px #e6e8eb;
}

.esquerra {
  width: 323px;
  /*height: 323px;*/ /*ya no es necesario tenir una medida exacta del margen*/
  background-color: pink;
  margin: 10px 0;
  border-radius: 3px; /*borde redondo*/

}

.esquerra h4 {
  background-color: yellow;
  Height: 14px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;/*sangria en texto*/
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat; /*no repetir la imagen del icono*/
  margin: 0;

}

#presentacio h4 {
  background-position: 0 0;
}

#fotos h4 {
  background-position: 0 -24px;
}
#fotos ul li {
  background-color: green;
  display: block;
  width: 99px; /*medida de las cajas de cada foto*/
  height: 99px; /*medida cuadrada*/
  margin: 4px; /*medida del lado del margen de imagen*/
  float: left;
  background-size: 99px 99px; /*hace que la imagen se adapte al marco*/
  color: transparent; /*hacemos transparente el texto*/
  /*color: none; --> no sirbe*/
}
#fotos ul {
background-color: red;
margin: 0;   /*para sacar el margen y se adapte a las cajas de imagen*/
padding: 0;
overflow: hidden; /*hace aparecer el bloque a la superficie*/
/*position: relative; /*lo divide de manera igual*/
/*top: -20px;*/ /*para que suban las cajas de imagen y no dejen un espacio que se ve feo*/
}
/*id:"f0"--> fotos identificadas en el html*/
#f01 {
  background-image: url(../img/fotos/gatito1.jpg)}
#f02 {
  background-image: url(../img/fotos/gatito2.jpg)}

#f03 {
  background-image: url(../img/fotos/gatito3.jpg)}
#f04 {
  background-image: url(../img/fotos/gatito4.jpg)}

#f05 {
  background-image: url(../img/fotos/gatito5.jpg)}
#f06 {
  background-image: url(../img/fotos/gatito6.jpeg)}

#f07 {
  background-image: url(../img/fotos/gatito7.jpg)}
#f08 {
  background-image: url(../img/fotos/gatito8.jpg)}


#f09 {
  background-image: url(../img/fotos/gatito9.jpeg)}


#amics h4 {
  background-position: 0 -48px;
}

#amics ul li {
  background-color: green;
  display: block;
  width: 99px; /*medida de las cajas de cada foto*/
  height: 99px; /*medida cuadrada*/
  margin: 4px; /*medida del lado del margen de imagen*/
  float: left;
  background-size: 99px 99px; /*hace que la imagen se adapte al marco*/
  color: white;
  line-height: 179px;
  text-indent: 5px; /*sangria*/
  text-shadow: 0 0 2px black;

  }

#amics ul {
background-color: red;
margin: 0;   /*para sacar el margen y se adapte a las cajas de imagen*/
padding: 0;
overflow: hidden;
}
/*cambiar las fotos*/
#a01 {
  background-image: url(../img/fotos/gatito1.jpg)}
#a02 {
  background-image: url(../img/fotos/gatito2.jpg)}

#a03 {
  background-image: url(../img/fotos/gatito3.jpg)}
#a04 {
  background-image: url(../img/fotos/gatito4.jpg)}

#a05 {
  background-image: url(../img/fotos/gatito5.jpg)}
#a06 {
  background-image: url(../img/fotos/gatito6.jpeg)}

#a07 {
  background-image: url(../img/fotos/gatito7.jpg)}
#a08 {
  background-image: url(../img/fotos/gatito8.jpg)}

#a09 {
  background-image: url(../img/fotos/gatito9.jpeg)}

#presentacio li {
  height: 30px;
  border-bottom: solid 1px grey;
  font-size: 12px;
  line-height: 30px;

}

#presentacio .estudis {
  list-style: url(../img/icones_estudis.png);
}

#presentacio .domicili {
  list-style: url(../img/icones_domicili.png);
}

  #presentacio .feina {
    list-style: url(../img/icones_feina.png);
}

#presentacio .relacio {
  list-style: url(../img/icones_sentimental.png);
}

#presentacio .esdeveniments {
  list-style: url(../img/icones_esdeveniments.png);
}

#presentacio .pagina {
  list-style: url(../img/icones_rss.png);
}
